@model IEnumerable<CafeResturant.Models.Rezervasyon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i>Yeni rezervasyon ekle</a>
</p>
<table class="table table-strip table-bordered" id="DataTable"">
    <thead>
        <tr>
            <th>
                Adı
                
            </th>
            <th>
                Email
               
            </th>
            <th>
                Telefon
                
            </th>
            <th>
                Sayı
              
            </th>
            <th>
                Saat
               
            </th>
            <th>
                Tarih
               
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sayi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saat)
            </td>
            <td>
                @item.Tarih.ToShortDateString()
            </td>
            <td>
              
               
                <a asp-action="Delete" asp-route-id="@item.RezervasyonID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#DataTable').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"

                    }
                });
        });
    </script>
}